<footer>
    <h3>STAY IN TOUCH</h3>
    <p>
        Sign up for the latest news on sales, new products and more!
    </p>

    <form action="/action_page.php">
        Sign Up: <input type="text" name="fname">
    </form>

</footer>