<header>
    <div>
        <ul>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Contact Us</a></li>
            <li><a>Blogs</a></li>
        </ul>
    </div>
</header>