// 
    // Trumps/Utilities

    // @package devx
    // @author  Kabolobari Benakole <i@kb.life>
    // @version 1.0.0

// Positioning
.absolute-zero
    position:           absolute
    top:                0
    right:              0
    bottom:             0
    left:               0
.absolute-middle
    position:           absolute
    top:                50%
    left:               50%
    transform:          translate( -50%, -50% )

.pos-rel
    position:           relative
.pos-stk
    position:           sticky
    position:           -webkit-sticky
    &.t-0
        top:            0


// Display
.d-blk
    display:            block
.d-ibl
    display:            inline-block 
.d-flx
    display:            flex

.al-i-fs
    align-items:        flex-start
.al-i-c
    align-items:        center

.j-c-sb
    justify-content:    space-between
.j-c-fe
    justify-content:    flex-end

.space-between-groups
    display:            flex
    align-items:        center
    justify-content:    space-between
.flex-center-center
    display:            flex
    align-items:        center
    justify-content:    center
.grid-center-center
    display:            grid
    align-items:        center
    justify-content:    center


// Margins
.m-0
    margin:             0

.my-1
    margin-top:         1rem
    margin-bottom:      1rem

.mt-0
    margin-top:         0
.mt-1
    margin-top:         1rem
.mt-1h
    margin-top:         1.5rem
.mt-2
    margin-top:         2rem
.mt-2h
    margin-top:         2.5rem
.mt-3
    margin-top:         3rem

.mx-auto
    margin-right:       auto
    margin-left:        auto
.mr-h
    margin-top:         0.5rem
.mr-1
    margin-right:       1rem

.mb-0
    margin-bottom:      0
.mb-hh
    margin-bottom:      0.25rem
.mb-h
    margin-bottom:      0.5rem
.mb-1
    margin-bottom:      1rem
.mb-2
    margin-bottom:      2rem
.mb-3
    margin-bottom:      3rem

// Paddings
.p-1
    padding:            1rem
.p-1h
    padding:            1.5rem
.p-2
    padding:            2rem
.py-h
    padding-top:        0.5rem
    padding-bottom:     0.5rem
.py-1
    padding-top:        1rem
    padding-bottom:     1rem
.pt-h
    padding-top:        0.5rem
.pt-1
    padding-top:        1rem
.pt-1h
    padding-top:        1.5rem
.pt-2
    padding-top:        2rem 

.pb-h
    padding-bottom:     0.5rem
.pb-1
    padding-bottom:     1rem
.pb-1h
    padding-bottom:     1.5rem


// Media Query Utilities
.show-smallup
    display:            none
    @media #{ $smallup }
        display:        block

.show-mediumup
    display:            none
    @media #{ $mediumup }
        display:        block

.hide-smallup
    display:            block
    @media #{ $smallup }
        display:        none

.hide-mediumup
    display:            block
    @media #{ $mediumup }
        display:        none


// Stacking
.z-depth-1
    z-index:            1


// Opacity
.opacity-7
    opacity:            0.7


// Screen Reader Text
    // The .sr class ensure element is available in the DOM but only to screen readers. The whitespace: nowrap rule ensures accessible texts aren't smushed off screen.
    // @link https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
.sr:not(:focus):not(:active)
    position:            absolute
    width:               1px
    height:              1px
    padding:             0
    margin:              -1px
    border:              0
    clip-path:           inset(100%)
    overflow:            hidden
    white-space:         nowrap  