// 
    // Decorative Elements

    // @package devx
    // @author  Kabolobari Benakole <i@kb.life>
    // @version 1.0.0

.border-bottom
    border-bottom:          $borderline

.dashed-border
    background-color:       #ffffff
    border:                 1px dashed #ddd
    border-radius:          $preferredradius