// 
    // Text Decorations

    // @package sfc
    // @author  Kabolobari Benakole <i@kb.life>

// Texts
.tx-c
    text-align:         center
.underline
    text-decoration:    underline

.text-shadow-light
    text-shadow:        0 1px 2px rgba( 0, 0, 0, 0.3 )

.lh-1-2h
    line-height:        1.25
.lh-1-3h
    line-height:        1.35

.lead
    font-size:          1.275rem
    color:              $readablegray
    padding-left:       $space-sm
    border-left:        4px solid $primarycolor
    @media #{ $smallup }
        font-size:      1.45rem
.lead-credit
    margin-top:         $space-sm
    margin-bottom:      $space
    img
        width:          64px
        height:         64px
        margin-right:   $space-xs
        border-radius:  50%

.micro-caps
    +text-treatment( $microfont, uppercase, 2px )
.nano-caps
    +text-treatment( $nanofont, uppercase, 2px )


// Sizes
.nanotext
    font-size:          $nanofont
.microtext
    font-size:          $microfont
.smalltext
    font-size:          $smallfont
.mediumtext
    font-size:          $mediumfont


// Headings
h1, h2, h3, h4
    font-family:        $headingfont
    margin-top:         $space-sm
    margin-bottom:      $space
    line-height:        $headinglh  
h1, .h1
    font-size:          1.72rem
    @media #{ $smallup }
        font-size:      1.88rem
h2, .h2
    font-size:          1.56rem
    @media #{ $smallup }
        font-size:      1.64rem
h3, .h3
    font-size:          1.32rem
h4, .h4
    font-size:          1.24rem

// Fonts
.fw-bold
    font-weight:        bold
.fw-normal
    font-weight:        normal
.ff-sans-serif
    font-family:        $headingfont