// 
    // Archive Pages (Posts & Pages)

    // @package sfc
    // @author  Kabolobari Benakole <kb@softcom.ng>
    
.openings
    li.dashed-border
        margin:             $space-sm 0
        &:last-of-type
            margin-bottom:  0

.offices
    li
        margin-bottom:      $space-lg
        &:last-of-type
            margin-bottom:  0