// 
    // Navigations

    // @package sfc
    // @author  Kabolobari Benakole <i@kb.life>

.to-release-mobilenav
    position:               relative
    transition:             all 0.32s ease-in-out
    z-index:                1
    opacity:                1
.nav-is-visible
    .to-release-mobilenav
        transform:          translateX(100%)
        height:             100vh
        overflow:           hidden
        opacity:            0

.mobilenav
    +absZero( fixed, 0, 0, unset, 0 )
    height:                 100vh
    background-color:       #ffffff
    z-index:                0
    overflow:               auto
    opacity:                0
    visibility:             hidden
    transform:              scale(0.8)
    transition:             all 0.48s ease
    .icon.xclose
        width:              26px
        height:             26px
.nav-is-visible
    .mobilenav
        opacity:            1
        transform:          scale(1)
        visibility:         visible

.desktopnav
    position:               absolute
    bottom:                 0
    transition:             all 0.32s ease-in
    .logo-holder
        width:              96px
    &.is-fixed
        position:           fixed
        top:                0
        bottom:             unset
        background-color:   rgba( 255, 255, 255, 0.96 )
        box-shadow:         0 1px 1px 0 rgba( 0, 0, 0, 0.25 )
        .vertical-divider
            border-color:   rgba( 0, 0, 0, 0.4 )
    .logo-holder
        opacity:            0
        visibility:         hidden
        transition:         all 0.32s ease
        display:            none
    &.is-fixed
        .logo-holder
            display:        block
            opacity:        1
            visibility:     visible
        .nav, .the-tools
            a
                text-shadow:    none
                @extend .richblack-link
                @extend .opacity-7-link

.nav
    a
        display:                block
        padding:                $space
        font-size:              $microfont
        letter-spacing:         0.3px