<html lang="{{ site.language }}">
    {% include shell/head.html %}
    <body {% if page.layout %}class="is-{{ page.layout }}"{% endif %}>
        <a class="skip-link sr" href="#main"></a>
        <h1 class="sr">{{ site.title }}</h1>
        {% include shell/header.html %}
        <main class="bg-white" id="main" navcontrol>
            {{ content }}
        </main>
        {% include shell/footer.html %}
        {% include shell/foot.html %}
    </body>
</html>